<div   class="card mb-4"  style="width: 11.2em;">
    <div class="card-img-wrapper">
        <!-- <img  src="{{member.photoUrl || (   './assets/user.png' )   }}" alt="{{member.knownAs}}" class="card-img-top image"> -->
        <img *ngIf="member.gender == 'معلم' || member.gender =='طالب'" src="{{member.photoUrl || (   './assets/user.png' )   }}" alt="{{member.knownAs}}" class="card-img-top image">
        <img *ngIf="member.gender == 'معلمة'  || member.gender =='طالبة'" src="{{member.photoUrl || (   './assets/femaleUser.png' )   }}" alt="{{member.knownAs}}" class="card-img-top image">
        <img 
            style=" position: absolute; top: 2px; right: 2px;" 
            src="./assets/svg-country-flags/png100px/{{member.country}}.png" 
            width="30px" height="20px"
            title=" الإقامة: {{member.country}} - {{member.city}}"
        />
        <img *ngIf="member.isVerified && !verifiedDateIsExpired()" style=" position: absolute;bottom: 2px;right:2px;
        "src="./assets/verified-account.png" width="30px" height="30px"  alt="starred"
         title="سدد عمولة الموقع"/>

         <img *ngIf="(member.balance) > 0" style=" position: absolute;bottom: 2px;left:2px;
         "src="./assets/star.png" width="25px" height="25px" alt="starred"
          title="سدد عمولة الموقع"/>
         
        <div  style=" position: absolute; top: 2px; left: 2px;" >
            <span title="معلم"><i *ngIf="member.gender == 'معلم'" class="fa fa-mars" ></i></span>
            <span title="معلمة"><i *ngIf="member.gender == 'معلمة'" class="fa fa-venus" ></i></span>
        </div>

        <ul class="list-inline member-icons animate text-center">
            <li class="list-inline-item"><button routerLink='/members/{{member.username}}' class="btn btn-primary">
                <i class="fa fa-user"></i></button></li>
            <li class="list-inline-item"><button (click)="addLike(member)" class="btn btn-primary">
                <i class="fa fa-heart"></i></button></li>
            <li class="list-inline-item">
                <button 
                    routerLink='/members/{{member.username}}' 
                    [queryParams]='{tab: 3}'
                    class="btn btn-primary">
                <i class="fa fa-envelope"></i>
            </button></li>
        </ul>
    </div>
    <div class="card-body p-1">
        <h6 class="card-title text-center mb-1">
            <span [class.is-online]="(presence.onlineUsers$ | async).includes(member.username)">
                <i class="fa fa-user mr-2"></i>
            </span>
 
            {{member.knownAs}}
            <!-- , {{member.age}} -->
        </h6>
        <div class="text-muted text-center">{{member.major}} <br> </div>
        <div class="text-right" style="font-size: 12px; font-style: normal;">
            {{member.interests == null ? member.interests : ( member.lookingFor| shorten) }} 
        </div> 
   
    </div>
</div>
