

<div class="about-section">
    <h1>عن الموقع</h1><br>
    <h2>يوفر الموقع خدمة استعراض ملفات المدرسين بغرض التواصل معهم</h2>
    <h4>يوفر الموقع ملفات الشخصية لمدرسين في تخصصات مختلفة</h4>
</div>

<br>
<div dir="rtl" class="about-section text-right">
  <h1>الأسئلة الشائعة</h1><br>
  <ol>
    <div *ngFor= "let q of QA">
      <li>{{q.question}}</li>
      <p>{{q.answer}}</p>
    </div>
  </ol>
</div>
  

<br>
<div dir="rtl" class="about-section">
  <h1> للتواصل</h1><br>
  <div class="text-right">
    <address>
      البريد الإلكتروني <a href="mailto:webmaster@example.com">Jon Doe</a>.<br> 
      Visit us at:<br>
      الموقع الإلكتروني: Example.com<br>
      العنوان: Box 564, Disneyland<br>
      KSA
      حساب Paypal: isfosejf@embplae.com
      </address>
  </div>
  
</div>
  
  <!-- <h2 style="text-align:center">Our Team</h2> -->
  <div class="row">
    <!-- <div class="column">
      <div class="card">
        <img src="https://randomuser.me/api/portraits/men/41.jpg" alt="Jane" style="width:100%">
        <div class="container">
          <h2>Jane Doe</h2>
          <p class="title">CEO & Founder</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>jane@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div> -->

    
  </div>
    <!-- <div class="column">
      <div class="card">
        <img src="https://randomuser.me/api/portraits/women/20.jpg" alt="Mike" style="width:100%">
        <div class="container">
          <h2>Mike Ross</h2>
          <p class="title">Art Director</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>mike@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="https://randomuser.me/api/portraits/men/57.jpg" alt="John" style="width:100%">
        <div class="container">
          <h2>John Doe</h2>
          <p class="title">Designer</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>john@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div> -->
