<form
  [formGroup]="changePassForm"
  (ngSubmit)="changePassForm.valid && changeMemberPassword()"
  autocomplete="off"
>
  <h2 class="text-center text-primary">تغيير كلمة المرور</h2>

  <div class="row justify-content-center">
    <div class="col-md-6">
      <hr />
      <app-text-input
        [formControl]="changePassForm.controls['passwordo']"
        [label]="'كلمة المرور الحالية'"
        [type]="'password'"
        [class]="'text-center'"
      >
      </app-text-input>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <app-text-input
        [formControl]="changePassForm.controls['passwordn']"
        [label]="'كلمة المرور الجديدة'"
        [type]="'password'"
        [class]="'text-center'"
      >
      </app-text-input>
    </div>
  </div>
<div class="row justify-content-center">
  <div class="form-group text-center">
    <button
      [disabled]="!changePassForm.valid"
      class="btn btn-success mr-2"
      type="submit"
    >
      تغيير
    </button>
    <button class="btn btn-default mr-2" (click)="cancel()" type="button">
      إلغاء
    </button>
  </div>
</div>


</form>

<!-- <div class="row" *ngIf="validationErrors.length > 0">
        <ul class="text-danger">
            <li *ngFor="let error of validationErrors">
                {{error}}
            </li>
        </ul>
    </div> -->

<!-- 

<div class="row" *ngIf="member">
    <div class="col-12" >
        <h1 class=" text-right">الإعدادات</h1>
    </div>


    <div dir="rtl" class="col-12">
        <tabset class="member-tabset text-right">
            <tab heading='تغيير كلمة المرور'>
                <form #changePasswordForm="ngForm" id="changePasswordForm" (ngSubmit)="changeMemberPassword()">

                    <h4 class="mt-2">إعادة الضبط </h4>
                    <div class="form-inline">
        
                        <label for="passwordo">كلمة المرور السابقة </label>
                        <input  [(ngModel)]="member.passwordo" type="password" name="passwordo" class="form-control mx-2">
                
                        <label for="passwordn">كلمة المرور الجديدة </label>
                        <input  [(ngModel)]="member.passwordn" type="password" name="passwordn" class="form-control mx-2">
                    </div>
                </form>
               
            </tab>
       
            <tab heading='إعادة ضبط كلمة المرور'>
                <app-photo-editor [member]="member"></app-photo-editor>
            </tab>
        </tabset>
    </div>

    <button [disabled]="!changePasswordForm.dirty"
     form="changePasswordForm" type="submit" class="btn btn-success btn-block">
     Change Password</button>
</div>



 -->
